/* #########################################################*/
/* 6. colors aka theme */
/* #########################################################*/
.background-color-aliceblue {
background-color: aliceblue; }

.background-color-antiquewhite {
background-color: antiquewhite;
}

.background-color-aqua {
background-color: aqua; }

.background-color-aquamarine {
background-color: aquamarine; }

.background-color-azure {
background-color: azure; }

.background-color-beige {
background-color: beige; }

.background-color-bisque {
background-color: bisque; }

.background-color-black {
background-color: black; }

.background-color-blanchedalmond {
background-color: blanchedalmond; }

.background-color-blue {
background-color: blue; }

.background-color-blueviolet {
background-color: blueviolet; }

.background-color-brown {
background-color: brown; }

.background-color-burlywood {
background-color: burlywood; }

.background-color-cadetblue {
background-color: cadetblue; }

.background-color-chartreuse {
background-color: chartreuse; }

.background-color-chocolate {
background-color: chocolate; }

.background-color-coral {
background-color: coral; }

.background-color-cornflowerblue {
background-color: cornflowerblue; }

.background-color-cornsilk {
background-color: cornsilk; }

.background-color-crimson {
background-color: crimson; }

.background-color-cyan {
background-color: cyan; }

.background-color-darkblue {
background-color: darkblue; }

.background-color-darkgoldenrod {
background-color: darkgoldenrod; }

.background-color-darkgreen {
background-color: darkgreen; }

.background-color-darkgrey {
background-color: darkgrey; }

.background-color-darkgray {
background-color: darkgray; }

.background-color-darkcyan {
background-color: darkcyan; }

.background-color-darkkhaki {
background-color: darkkhaki; }

.background-color-darkmagenta {
background-color: darkmagenta; }

.background-color-darkolivegreen {
background-color: darkolivegreen; }

.background-color-darkorange {
background-color: darkorange; }

.background-color-darkorchid {
background-color: darkorchid; }

.background-color-darkred {
background-color: darkred; }

.background-color-darksalmon {
background-color: darksalmon; }

.background-color-darkseagreen {
background-color: darkseagreen; }

.background-color-darkslateblue {
background-color: darkslateblue; }

.background-color-darkslategray {
background-color: darkslategray; }

.background-color-darkslategrey {
background-color: darkslategrey; }

.background-color-darkturquoise {
background-color: darkturquoise; }

.background-color-darkviolet {
background-color: darkviolet; }

.background-color-deeppink {
background-color: deeppink; }

.background-color-deepskyblue {
background-color: deepskyblue; }

.background-color-dimgray {
background-color: dimgray; }

.background-color-dimgrey {
background-color: dimgrey; }

.background-color-dodgerblue {
background-color: dodgerblue; }

.background-color-firebrick {
background-color: firebrick; }

.background-color-floralwhite {
background-color: floralwhite; }

.background-color-forestgreen {
background-color: forestgreen; }

.background-color-fuchsia {
background-color: fuchsia; }

.background-color-gainsboro {
background-color: gainsboro; }

.background-color-ghostwhite {
background-color: ghostwhite; }

.background-color-gold {
background-color: gold; }

.background-color-goldenrod {
background-color: goldenrod; }

.background-color-gray {
background-color: gray; }

.background-color-grey {
background-color: grey; }

.background-color-green {
background-color: green; }

.background-color-greenyellow {
background-color: greenyellow; }

.background-color-honeydew {
background-color: honeydew; }

.background-color-hotpink {
background-color: hotpink; }

.background-color-indianred {
background-color: indianred; }

.background-color-indigo {
background-color: indigo; }

.background-color-ivory {
background-color: ivory; }

.background-color-khaki {
background-color: khaki; }

.background-color-lavender {
background-color: lavender; }

.background-color-lavenderblush {
background-color: lavenderblush; }

.background-color-lawngreen {
background-color: lawngreen; }

.background-color-lemonchiffon {
background-color: lemonchiffon; }

.background-color-lightblue {
background-color: lightblue; }

.background-color-lightcoral {
background-color: lightcoral; }

.background-color-lightcyan {
background-color: lightcyan; }

.background-color-lightgoldenrodyellow {
background-color: lightgoldenrodyellow; }

.background-color-lightgray {
background-color: lightgray; }

.background-color-lightgrey {
background-color: lightgrey; }

.background-color-lightgreen {
background-color: lightgreen; }

.background-color-lightpink {
background-color: lightpink; }

.background-color-lightsalmon {
background-color: lightsalmon; }

.background-color-lightseagreen {
background-color: lightseagreen; }

.background-color-lightskyblue {
background-color: lightskyblue; }

.background-color-lightslategray {
background-color: lightslategray; }

.background-color-lightslategrey {
background-color: lightslategrey; }

.background-color-lightsteelblue {
background-color: lightsteelblue; }

.background-color-lightyellow {
background-color: lightyellow; }

.background-color-lime {
background-color: lime; }

.background-color-limegreen {
background-color: limegreen; }

.background-color-linen {
background-color: linen; }

.background-color-magenta {
background-color: magenta; }

.background-color-maroon {
background-color: maroon; }

.background-color-mediumaquamarine {
background-color: mediumaquamarine; }

.background-color-mediumblue {
background-color: mediumblue; }

.background-color-mediumorchid {
background-color: mediumorchid; }

.background-color-mediumpurple {
background-color: mediumpurple; }

.background-color-mediumseagreen {
background-color: mediumseagreen; }

.background-color-mediumslateblue {
background-color: mediumslateblue; }

.background-color-mediumspringgreen {
background-color: mediumspringgreen; }

.background-color-mediumturquoise {
background-color: mediumturquoise; }

.background-color-mediumvioletred {
background-color: mediumvioletred; }

.background-color-midnightblue {
background-color: midnightblue; }

.background-color-mintcream {
background-color: mintcream; }

.background-color-mistyrose {
background-color: mistyrose; }

.background-color-moccasin {
background-color: moccasin; }

.background-color-navajowhite {
background-color: navajowhite; }

.background-color-navy {
background-color: navy; }

.background-color-oldlace {
background-color: oldlace; }

.background-color-olive {
background-color: olive; }

.background-color-olivedrab {
background-color: olivedrab; }

.background-color-orange {
background-color: orange; }

.background-color-orangered {
background-color: orangered; }

.background-color-orchid {
background-color: orchid; }

.background-color-palegoldenrod {
background-color: palegoldenrod; }

.background-color-palegreen {
background-color: palegreen; }

.background-color-paleturquoise {
background-color: paleturquoise; }

.background-color-palevioletred {
background-color: palevioletred; }

.background-color-papayawhip {
background-color: papayawhip; }

.background-color-peachpuff {
background-color: peachpuff; }

.background-color-peru {
background-color: peru; }

.background-color-pink {
background-color: pink; }

.background-color-plum {
background-color: plum; }

.background-color-powderblue {
background-color: powderblue; }

.background-color-purple {
background-color: purple; }

.background-color-rebeccapurple {
background-color: rebeccapurple; }

.background-color-red {
background-color: red; }

.background-color-rosybrown {
background-color: rosybrown; }

.background-color-royalblue {
background-color: royalblue; }

.background-color-saddlebrown {
background-color: saddlebrown; }

.background-color-salmon {
background-color: salmon; }

.background-color-sandybrown {
background-color: sandybrown; }

.background-color-seagreen {
background-color: seagreen; }

.background-color-seashell {
background-color: seashell; }

.background-color-sienna {
background-color: sienna; }

.background-color-silver {
background-color: silver; }

.background-color-skyblue {
background-color: skyblue; }

.background-color-slateblue {
background-color: slateblue; }

.background-color-slategray {
background-color: slategray; }

.background-color-slategrey {
background-color: slategrey; }

.background-color-snow {
background-color: snow; }

.background-color-springgreen {
background-color: springgreen; }

.background-color-steelblue {
background-color: steelblue; }

.background-color-tan {
background-color: tan; }

.background-color-teal {
background-color: teal; }

.background-color-thistle {
background-color: thistle; }

.background-color-tomato {
background-color: tomato; }

.background-color-turquoise {
background-color: turquoise; }

.background-color-violet {
background-color: violet; }

.background-color-wheat {
background-color: wheat; }

.background-color-white {
background-color: white; }

.background-color-whitesmoke {
background-color: whitesmoke; }

.background-color-yellow {
background-color: yellow; }

.background-color-yellowgreen {
background-color: yellowgreen; }



.color-aliceblue {
color: aliceblue; }

.color-antiquewhite {
    color: antiquewhite;
}

.color-aqua {
color: aqua; }

.color-aquamarine {
color: aquamarine; }

.color-azure {
color: azure; }

.color-beige {
color: beige; }

.color-bisque {
color: bisque; }

.color-black {
color: black; }

.color-blanchedalmond {
color: blanchedalmond; }

.color-blue {
color: blue; }

.color-blueviolet {
color: blueviolet; }

.color-brown {
color: brown; }

.color-burlywood {
color: burlywood; }

.color-cadetblue {
color: cadetblue; }

.color-chartreuse {
color: chartreuse; }

.color-chocolate {
color: chocolate; }

.color-coral {
color: coral; }

.color-cornflowerblue {
color: cornflowerblue; }

.color-cornsilk {
color: cornsilk; }

.color-crimson {
color: crimson; }

.color-cyan {
color: cyan; }

.color-darkblue {
color: darkblue; }

.color-darkgoldenrod {
color: darkgoldenrod; }

.color-darkgreen {
color: darkgreen; }

.color-darkgrey {
color: darkgrey; }

.color-darkgray {
color: darkgray; }

.color-darkcyan {
color: darkcyan; }

.color-darkkhaki {
color: darkkhaki; }

.color-darkmagenta {
color: darkmagenta; }

.color-darkolivegreen {
color: darkolivegreen; }

.color-darkorange {
color: darkorange; }

.color-darkorchid {
color: darkorchid; }

.color-darkred {
color: darkred; }

.color-darksalmon {
color: darksalmon; }

.color-darkseagreen {
color: darkseagreen; }

.color-darkslateblue {
color: darkslateblue; }

.color-darkslategray {
color: darkslategray; }

.color-darkslategrey {
color: darkslategrey; }

.color-darkturquoise {
color: darkturquoise; }

.color-darkviolet {
color: darkviolet; }

.color-deeppink {
color: deeppink; }

.color-deepskyblue {
color: deepskyblue; }

.color-dimgray {
color: dimgray; }

.color-dimgrey {
color: dimgrey; }

.color-dodgerblue {
color: dodgerblue; }

.color-firebrick {
color: firebrick; }

.color-floralwhite {
color: floralwhite; }

.color-forestgreen {
color: forestgreen; }

.color-fuchsia {
color: fuchsia; }

.color-gainsboro {
color: gainsboro; }

.color-ghostwhite {
color: ghostwhite; }

.color-gold {
color: gold; }

.color-goldenrod {
color: goldenrod; }

.color-gray {
color: gray; }

.color-grey {
color: grey; }

.color-green {
color: green; }

.color-greenyellow {
color: greenyellow; }

.color-honeydew {
color: honeydew; }

.color-hotpink {
color: hotpink; }

.color-indianred {
color: indianred; }

.color-indigo {
color: indigo; }

.color-ivory {
color: ivory; }

.color-khaki {
color: khaki; }

.color-lavender {
color: lavender; }

.color-lavenderblush {
color: lavenderblush; }

.color-lawngreen {
color: lawngreen; }

.color-lemonchiffon {
color: lemonchiffon; }

.color-lightblue {
color: lightblue; }

.color-lightcoral {
color: lightcoral; }

.color-lightcyan {
color: lightcyan; }

.color-lightgoldenrodyellow {
color: lightgoldenrodyellow; }

.color-lightgray {
color: lightgray; }

.color-lightgrey {
color: lightgrey; }

.color-lightgreen {
color: lightgreen; }

.color-lightpink {
color: lightpink; }

.color-lightsalmon {
color: lightsalmon; }

.color-lightseagreen {
color: lightseagreen; }

.color-lightskyblue {
color: lightskyblue; }

.color-lightslategray {
color: lightslategray; }

.color-lightslategrey {
color: lightslategrey; }

.color-lightsteelblue {
color: lightsteelblue; }

.color-lightyellow {
color: lightyellow; }

.color-lime {
color: lime; }

.color-limegreen {
color: limegreen; }

.color-linen {
color: linen; }

.color-magenta {
color: magenta; }

.color-maroon {
color: maroon; }

.color-mediumaquamarine {
color: mediumaquamarine; }

.color-mediumblue {
color: mediumblue; }

.color-mediumorchid {
color: mediumorchid; }

.color-mediumpurple {
color: mediumpurple; }

.color-mediumseagreen {
color: mediumseagreen; }

.color-mediumslateblue {
color: mediumslateblue; }

.color-mediumspringgreen {
color: mediumspringgreen; }

.color-mediumturquoise {
color: mediumturquoise; }

.color-mediumvioletred {
color: mediumvioletred; }

.color-midnightblue {
color: midnightblue; }

.color-mintcream {
color: mintcream; }

.color-mistyrose {
color: mistyrose; }

.color-moccasin {
color: moccasin; }

.color-navajowhite {
color: navajowhite; }

.color-navy {
color: navy; }

.color-oldlace {
color: oldlace; }

.color-olive {
color: olive; }

.color-olivedrab {
color: olivedrab; }

.color-orange {
color: orange; }

.color-orangered {
color: orangered; }

.color-orchid {
color: orchid; }

.color-palegoldenrod {
color: palegoldenrod; }

.color-palegreen {
color: palegreen; }

.color-paleturquoise {
color: paleturquoise; }

.color-palevioletred {
color: palevioletred; }

.color-papayawhip {
color: papayawhip; }

.color-peachpuff {
color: peachpuff; }

.color-peru {
color: peru; }

.color-pink {
color: pink; }

.color-plum {
color: plum; }

.color-powderblue {
color: powderblue; }

.color-purple {
color: purple; }

.color-rebeccapurple {
color: rebeccapurple; }

.color-red {
color: red; }

.color-rosybrown {
color: rosybrown; }

.color-royalblue {
color: royalblue; }

.color-saddlebrown {
color: saddlebrown; }

.color-salmon {
color: salmon; }

.color-sandybrown {
color: sandybrown; }

.color-seagreen {
color: seagreen; }

.color-seashell {
color: seashell; }

.color-sienna {
color: sienna; }

.color-silver {
color: silver; }

.color-skyblue {
color: skyblue; }

.color-slateblue {
color: slateblue; }

.color-slategray {
color: slategray; }

.color-slategrey {
color: slategrey; }

.color-snow {
color: snow; }

.color-springgreen {
color: springgreen; }

.color-steelblue {
color: steelblue; }

.color-tan {
color: tan; }

.color-teal {
color: teal; }

.color-thistle {
color: thistle; }

.color-tomato {
color: tomato; }

.color-turquoise {
color: turquoise; }

.color-violet {
color: violet; }

.color-wheat {
color: wheat; }

.color-white {
color: white; }

.color-whitesmoke {
color: whitesmoke; }

.color-yellow {
color: yellow; }

.color-yellowgreen {
color: yellowgreen; }

.border-color-black-lighten10p {
    border-color: lighten(black, 10%);
}
.border-color-black-lighten20p {
    border-color: lighten(black, 20%);
}
.border-color-black-lighten30p {
    border-color: lighten(black, 30%);
}
.border-color-black-lighten40p {
    border-color: lighten(black, 40%);
}
.border-color-black-lighten50p {
    border-color: lighten(black, 50%);
}
.border-color-black-lighten60p {
    border-color: lighten(black, 60%);
}
.border-color-black-lighten70p {
    border-color: lighten(black, 70%);
}
.border-color-black-lighten80p {
    border-color: lighten(black, 80%);
}
.border-color-black-lighten90p {
    border-color: lighten(black, 90%);
}
.border-color-black-lighten100p {
    border-color: lighten(black, 100%);
}